#bsgLogo {
	width: 400px;
	height: 310px;
	left: 55px;
	top: 80px;
}

#gameCapture1 {
	width: 1389px;
	height: 781px;
	left: 509px;
	top: 15px;
}

#webcam1 {
	width: 474px;
	height: 267px;
	left: 15px;
	top: 788px;
}

#runInformationWrapper {
	width: 650px;
	height: 135px;
	left: 1256px;
	top: 876px;
	display: flex;
	align-items: center;
}

#runInformationFields {
	box-sizing: border-box;
	padding-left: 15px;
	line-height: 180%;
	letter-spacing: -1.5px;
	width: 100%;
}

#runInformationGameName {
	font-size: 29px;
}

#runInformationGameCategory {
	padding-top: 15px;
	font-size: 23px;
	float: left;
}

#runInformationGameSystem {
	padding-top: 15px;
	font-size: 23px;
	float: right;
	padding-right: 15px;
}

.playerContainer {
	width: 650px;
	height: 135px;
	left: 507px;
	top: 876px;
}

.runnerLogo {
	width: 110px;
	margin-right: 21px;
}

.runnerInfo {
	font-size: 30px;
	line-height: 140px;
	box-sizing: border-box;
	padding-left: 10px;
}

#timerContainer {
	width: 484px;
	height: 178px;
	left: 15px;
	top: 600px;
}

#timer {
	padding-top: 30px;
	font-size: 61px;
}

#runInformationGameEstimate {
	top: -15px;
	font-size: 30px;
}