#bsgLogo {
	width: 348px;
	height: 270px;
	left: 1555px;
	top: 795px;
}

#gameCapture1 {
	width: 930px;
	height: 698px;
	left: 15px;
	top: 15px;
}
	
#gameCapture2 {
	width: 930px;
	height: 698px;
	left: 965px;
	top: 15px;
}

#webcam1 {
	width: 474px;
	height: 267px;
	left: 15px;
	top: 788px;
}

#runInformationWrapper {
	width: 693px;
	height: 145px;
	left: 615px;
	top: 788px;
	display: flex;
	align-items: center;
}

#runInformationFields {
	box-sizing: border-box;
	padding-left: 15px;
	line-height: 180%;
	letter-spacing: -1.5px;
	width: 100%;
}

#runInformationGameName {
	font-size: 29px;
}

#runInformationGameCategory {
	padding-top: 15px;
	font-size: 23px;
	float: left;
}

#runInformationGameSystem {
	padding-top: 15px;
	font-size: 23px;
	float: right;
	padding-right: 15px;
}

#player1Container {
	width: 910px;
	height: 50px;
	left: 15px;
	top: 727px;
}

#player2Container {
	width: 970px;
	height: 50px;
	left: 935px;
	top: 727px;
}

#player2Container .runnerLogo {
	width: 50px;
	margin-right: 10px;
}

#player1Container .runnerInfo {
	font-size: 26px;
	line-height: 50px;
	box-sizing: border-box;
	padding-right: 15px;
	text-align: right;
}

#player2Container .runnerInfo {
	font-size: 26px;
	line-height: 50px;
	box-sizing: border-box;
	padding-left: 15px;
}

#timerContainer {
	width: 693px;
	height: 127px;
	left: 615px;
	top: 938px;
}

#timer {
	padding-top: 5px;
	font-size: 61px;
}

#runInformationGameEstimate {
	top: -15px;
	font-size: 30px;
}

.runnerTimerFinishedContainer {
	height: 50px;
}

#runner1TimerFinishedContainer {
	padding-left: 10px;
	left: 15px;
	top: 727px;
}

#runner2TimerFinishedContainer {
	left: 1705px;
	top: 727px;
}

.runnerTimerFinished {
	
	line-height: 50px;
	font-size: 20px;
}

.finishedLogo {
	width: 40px;
}

#runner1TimerFinishedContainer .runnerTimerFinished {
	margin-left: 10px;
}

#runner2TimerFinishedContainer .runnerTimerFinished {
	margin-right: 10px;
}