@font-face {
	font-family: "Orbitron";
	src: url("../images/Orbitron Medium.TTF") format("truetype");
}

body {
	font-family: "Orbitron";
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	color: white;
}

#window-container {
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#bsgLogo {
	position: fixed;
	background-image: url('../images/bsgLogo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.gameCapture, .webcam {
	position: fixed;
	background-color: #00DD00;
	border: 5px solid #a84300;
}

#runInformationLogo {
	position: fixed;
	background-image: url('../images/runInformationIcon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#runInformationWrapper {
	position: fixed;
	background-color: rgba(69,69,69,0.7);
}

#runInformationFields {
	overflow: hidden;
}

#runInformationGameSystem {
	color: #bfbfbf;
}

.playerContainer {
	position: fixed;
	display: flex;
}

.runnerLogo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 100%;
}

.twitchLogo {
	background-image: url('../images/twitchlogo.png');
}

.runnerInfo {
	background-color: rgba(69,69,69,0.7);
	flex: 1;
	overflow: hidden;
	letter-spacing: 0px;
	white-space: nowrap;
}

#timerContainer {
	position: fixed;
	background-color: rgba(69,69,69,0.7);
}

#timer {
	position: relative;
	text-align: center;
}

.timer_paused {
	color: yellow;
}

.timer_running {
	color: white;
}

.timer_stopped {
	color: gray;
}

.timer_finished {
	color: #ff6600;
}

#runInformationGameEstimate {
	position: relative;
	text-align: center;
	color: #bfbfbf;
}

#runInformationGameEstimate:before {
	content: 'EST: ';
}

#runInformationGameEstimate:after {
	content: ':00';
}

.runnerTimerFinishedContainer {
	position: fixed;
	display: flex;
	overflow: hidden;
	align-items: center;
}

.finishedLogo {
	position: relative;
	height: 100%;
	background-image: url('../images/finishFlag.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}