#webcam {
	width: 1469px;
	height: 827px;
	left: 231px;
	top:12px;
}
	
#justMissed {
	position: fixed;
	text-align: left;
	left: 785px;
	top: 855px;
	font-size: 18px;
}

#comingUp {
	position: fixed;
	text-align: left;
	left: 1024px;
	top: 855px;
	font-size: 18px;
}

.runInformationFields {
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 7px;
	padding-top: 2px;
	line-height: 120%;
	width: 100%;
}

.runInformationWrapper {
	width: 700px;
	height: 80px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	position: fixed;
	background-color: rgba(69,69,69,0.7);
}

#justMissedRunContainer .runInformationWrapper {
	left: 222px;
	top: 890px;
}

#justMissedGame {
	font-size: 16px;
	letter-spacing: 0px;
	text-align: right;
	padding-right: 10px;
}

#justMissedCathegory {
	font-size: 14px;
	float: right;
	padding-right: 10px;
}

#justMissedSystem {
	font-size: 16px;
	float: left;
	color: #bfbfbf;
}

#bsgLogo {
	left: 932px;
	top: 890px;
	width: 80px;
	height: 80px;
}

#comingUpRunContainer .runInformationWrapper {
	left: 1023px;
	top: 890px;
}

#comingUpGame {
	font-size: 16px;
	letter-spacing: 0px;
}

#comingUpCathegory {
	font-size: 14px;
	float: left;
}

#comingUpSystem {
	font-size: 16px;
	float: right;
	padding-right: 10px;
	color: #bfbfbf;
}

.runnerInfo {
	font-size: 16px;
	line-height: 43px;
	box-sizing: border-box;
}

#justMissedPlayerContainer {
	width: 700px;
	height: 43px;
	left: 222px;
	top: 982px;
}

#justMissedPlayerContainer .runnerInfo {
	padding-right: 10px;
	text-align: right;
}

#comingUpPlayerContainer {
	width: 773px;
	height: 43px;
	left: 949px;
	top: 982px;
}

.runnerLogo {
	width: 42px;
	margin-right: 32px;
}

#comingUpPlayerContainer .runnerInfo {
	padding-left: 10px;
}

#informationMarquee {
	position: fixed;
	top: 1080px;
	left: 0px;
	height: 59px;
	opacity: 0;
	width: 1920px;
	overflow: hidden;
	white-space: nowrap;
	background-color: rgba(69,69,69,0.7);
	font-size: 26px;
	line-height: 59px;
	text-align: center;
}